main {
    background-color: #ffff;
    padding-bottom: 20px;
}

#arrisque {
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 0px;
    color: #070202e1;
}

.card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  
}


 .card img {
    max-width: 100%;
    border-radius: 5px;
    transition: 1s;
  } 
  
  .card img:hover {
    box-shadow: 0 0 1rem rgb(70, 167, 70);;
    transform: translateY(-10px);
  }


@media (max-width: 800px){
    #arrisque{
        width: 90%;
    }

    h1{
    font-size: 1.2rem;
    padding: 15px 0px 20px 0px;
    }
}